<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PMSUtility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PMUtilityIOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pmsutility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>759D165113A740DB00E671A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>759D169813A877AD00E671A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>759D16C513A879A500E671A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75FFF67213DDF0D6003C7786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75FFF68013DDF0D7003C7786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
